/* PasswordChangeSc.css */

.password-change-container {
    background-color: #f5f5f5; /* Color de fondo claro */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}

.password-change-title {
    font-size: 2rem;
    color: #000000; /* Color del título */
    margin-bottom: 10px;
}

.password-change-subtitle {
    font-size: 1.1rem;
    color: #333; /* Color del subtítulo */
    margin-bottom: 20px;
}

.password-change-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.password-change-label {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.password-change-input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
}

.password-change-input:focus {
    border-color: #2196f3; /* Color del borde en foco */
}

.password-change-button {
    background-color: #2196f3; /* Color del botón */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.password-change-button:hover {
    background-color: #1976d2; /* Color del botón en hover */
}

.password-change-error {
    color: red;
    margin-top: 10px;
    font-size: 0.875rem;
}
