/* Home.css */
.background-image {
    background: url('../../assets/MaryGymPicture.jpg') no-repeat center center/cover;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: relative; /* Añade posición relativa para alinear el gradiente */
}

.background-blank {
    padding: 50px 0;
    background: #f8f8f8;
}

.centered-title {
    text-align: center;
    margin-bottom: 30px;
}

.fila {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box, .box-grande {
    background: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imagen {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    margin: 10px;
}

.imagen-entrenadora {
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.imagen-entrenadoraMaritza {
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.cta-button {
    margin-top: 20px;
    background-color: #2196f3;
    color: white;
}

.white-body {
    color: white;
}

@media (max-width: 768px) {
    .fila {
        flex-direction: column;
        align-items: center;
    }

    .box, .box-grande {
        width: 90%;
    }

    .imagen, .imagen-entrenadora {
        width: 90%;
    }
}
